html {
    position: relative;
    min-height: 100%;
  }
  
  body {
      background-image: url('default.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      margin-bottom: 60px;
    }  

  .current-forcast {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: 1px 1px 5px black;
    padding: 50px;
    border-radius: 10px;
    position: relative;
    visibility: hidden;
    margin-top: 80px;
}